.crd{
    background-color: var(--light-gray);
    border-bottom: 5px solid var(--secondary-color);
    height: 400px;
    width: 300px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: 0.3s;
}

.crd h2{
    color: var(--primary-color);
    padding-top: 5%;
    font-size: 30px;
}

.crd p{
    padding-top: 30%;
    font-size: 16px;
    color: var(--second-text-color);
}

.crd img{
    width: 80px;
    padding-top: 35%;
}

.cards .crd:first-of-type img{
    padding-top: 35%;
    width: 280px;
}

.cards{
    padding-top: 4vw;
    gap: 10vw;
}

.crd:hover{
    border-bottom: 6px solid var(--secondary-color);
    height: 420px;
    margin-top: -10px;
    margin-bottom: -10px;
    transition: 0.3s;
}
