.crd{
    background-color: var(--light-gray);
    border-bottom: 0.5vh solid var(--secondary-color);
    height: 55vh;
    width: 20vw;
    text-align: center;
    padding: 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: 0.3s;
}

.crd h2{
    font-size: 35px;
}

.crd p{
    font-size: 20px;
    color: var(--second-text-color);
}

.crd img{
    width: 5vw;
    padding-top: 2vw;
}

.cards .crd:first-of-type img{
    padding-top: 7vw;
    width: 20vw;
}

.cards{
    padding-top: 4vw;
    padding-left: 25vw;
    gap: 10vw;
}

.crd:hover{
    border-bottom: 1vh solid var(--secondary-color);
    height: 56.5vh;
    margin-top: -1vw;
    margin-bottom: -1vw;
    transition: 0.3s;
}