.cards{
display: flex;
flex-direction: row;
padding-bottom: 5vw;
}

.know_us{
    text-align: center;
}

.know_us p{
    color: var(--second-text-color);
}

.support{
    text-align: center;
    background-color: var(--secondary-color);
    font-weight: bold;
    color: var(--primary-color);
}
.support p{
    font-size: 1.2vw;
}
p{
    font-size: 0.8vw;
}