.cards{
display: flex;
flex-direction: row;
padding-bottom: 5vw;
align-items: center;
justify-content: center;
}

h1 {
    font-size: 50px;
}

@media (width <= 1280px) {
.cards{
display: flex;
flex-direction: column;
}
}

.know_us{
    text-align: center;
}

.know_us p{
    color: var(--second-text-color);
    font-size: 16px;
}

.support{
    text-align: center;
    background-color: var(--secondary-color);
    font-weight: bold;
    color: var(--primary-color);
}
.support p{
    font-size: 16px;
}
p{
    font-size: 10px;
}